body {
    overflow: hidden;
    background-color: #000;
}

.nicoText {
    color: white;
    visibility: hidden;
    white-space: pre;
    font-size: 24px;
    font-family: Arial 'MS Pゴシック' Simsun Gulim;
    letter-spacing: 1px;
    position: absolute;
    margin: 2px 1px 1px 1px;
    font-weight: bolder;
    text-shadow: 1px 1px #666;
    transform-origin: 0% 0%;
    animation-timing-function: linear;
    -webkit-transform-origin: 0% 0%;
    -webkit-animation-timing-function: linear;
}

.nicoText.active {
    visibility: visible;
}

.nicoText .emoji {
    height: 30px;
    width: 30px;
}

.nicoText.big {
    font-size: 39px;
}

.nicoText.big .emoji {
    height: 45px;
    width: 45px;
}

.nicoText.small {
    font-size: 15px;
}

.nicoText.small .emoji {
    height: 20px;
    width: 20px;
}

.mincho {
    font-family: Simsun;
}

.gulim {
    font-family: Gulim;
}

.mingLiu {
    font-family: mingLiu;
}

.white {
    color: #ffffff';

}

.red {
    color: #FF0000;
}

.pink {
    color: #FF8080;
}

.orange {
    color: #FFC000;
}

.yellow {
    color: #FFFF00;
}

.green {
    color: #00FF00;
}

.cyan {
    color: #00FFFF;
}

.blue {
    color: #0000FF;
}

.purple {
    color: #C000FF;
}

.black {
    color: #000000;
}

.white2 {
    color: #CCCC99;
}

.niconicowhite {
    color: #CCCC99;
}

.red2 {
    color: #CC0033;
}

.truered {
    color: #CC0033;
}

.pink2 {
    color: #FF33CC;
}

.orange2 {
    color: #FF6600;
}

.passionorange {
    color: #FF6600;
}

.yellow2 {
    color: #999900;
}

.madyellow {
    color: #999900;
}

.green2 {
    color: #00CC66;
}

.elementalgreen {
    color: #00CC66;
}

.cyan2 {
    color: #00CCCC;
}

.blue2 {
    color: #3399FF;
}

.marineblue {
    color: #3399FF;
}

.purple2 {
    color: #6633CC;
}

.nobleviolet {
    color: #6633CC;
}

.black2 {
    color: #666666;
}
