
/** for emoji autocomplete */
.dropdown-menu img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

/** for empjify */
.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: 0.2em;
}
