<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}nicoboard/css/board.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}nicoboard/css/nico.css">
</head>

<body>
    <div class="container">
        <form id="cmdform">
            <div class="row">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">■</button>
                    </span>
                    <input type="text" class="inputarea form-control">
                    <span class="input-group-btn">
                        <button id="post" type="submit" class="btn btn-primary">送信</button>
                        <button type="button" class="btn btn-default">オプション</button>
                    </span>
                </div>
            </div>
            {%comment%}
            <div class="row">

                <div class="col-xs-3"></div>
                <div class="col-xs-7">

                    <textarea id="msgarea2" class="inputarea form-control" placeholder="入力テキスト"></textarea>
                </div>
                <div class="col-xs-2">
                    <div class="btn-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-toggle="dropdown"><span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">メニュー1</a>
                                </li>
                                <li><a href="#">メニュー2</a>
                                </li>
                                <li><a href="#">メニュー3</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">その他リンク</a>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-primary">送信</button>
                    </div>
                </div>
            </div>
            {%endcomment%}
        </form>


        <div id="msg1">:sun_with_face: hehehe</div>
    </div>


    <!JS-AREA-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script src="{{ STATIC_URL }}nicoboard/js/jquery.textcomplete.js"></script>
    <script src="{{ STATIC_URL }}nicoboard/js/jquery.overlay.js"></script>
    <script src="{{ STATIC_URL }}nicoboard/js/emojify.js"></script>

    <script src="{{ STATIC_URL }}nicoboard/js/emojies.js"></script>
    <script src="{{ STATIC_URL }}nicoboard/js/cmds.js"></script>

    <script>
        emojify.setConfig({
            img_dir: '{{ STATIC_URL }}nicoboard/img/emoji', // Directory for emoji images
        });

        $('.inputarea').textcomplete([
            { // command
                mentions: cmds,
                match: /\B@(\w*)$/,
                search: function (term, callback) {
                    callback($.map(this.mentions, function (mention) {
                        return mention.indexOf(term) === 0 ? mention : null;
                    }));
                },
                index: 1,
                replace: function (mention) {
                    return '@' + mention + ' ';
                }
            },
            { // emoji strategy
                match: /\B:([\-+\w]*)$/,
                search: function (term, callback) {
                    callback($.map(emojies, function (emoji) {
                        return emoji.indexOf(term) === 0 ? emoji : null;
                    }));
                },
                template: function (value) {
                    return '<img src="{{STATIC_URL}}nicoboard/img/emoji/' + value + '.png"></img>' + value;
                },
                replace: function (value) {
                    return ':' + value + ': ';
                },
                index: 1
            }
        ], {
            appendTo: 'body'
        }).overlay([
            {
                match: /\B@\w+/g,
                css: {
                    'background-color': '#d8dfea'
                }
            },
            {
                match: /\B:[\-+\w]*:/g,
                css: {
                    'background-color': '#ff9f3a'
                }
            }
        ]);

        //-----------------------------

        function postMessageHandler(){
            var msg = $(".inputarea").val();
            postMessage(msg);
            $(".inputarea").val("");
            return false;
        }
        function postMessage(msg){
            var pdata = {
                        "board": "hackday",
                        "body": msg
                    }
            return $.ajax({
                "url": "/nico/api/msgs/",
                "type": "POST",
                "data": pdata
            })
        }

        $("#cmdform").submit(function(){
            console.log("submit");
            return postMessageHandler();
        });

        //-----------------------------

        // Stomp.js boilerplate
        var ws = new SockJS('http://localhost:15674/stomp');
        var client = Stomp.over(ws);

        // SockJS does not support heart-beat: disable heart-beats
        client.heartbeat.outgoing = 0;
        client.heartbeat.incoming = 0;


        var on_connect = function (x) {
            id = client.subscribe("/topic/hackday", function (d) {
                nicoboard.handleMsg(d.body);
            });
        };
        var on_error = function () {
            console.log('error');
        };
        client.connect('guest', 'guest', on_connect, on_error, '/');

    </script>
</body>

</html>
